@model ToDO
<h2> New Task </h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="categoryID" class="form-label">Category</label>
        <select asp-for="categoryID" class="form-select" asp-items="@(new SelectList(ViewBag.categories, "categoryID", "categoryName"))">
            <option value=""></option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="dueDate" class="form-label">Due Date</label>
        <input asp-for="dueDate" class="form-control" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="statusID" class="form-label">Status</label>
        <select asp-for="statusID" class="form-select" asp-items="@(new SelectList(ViewBag.statuses, "statusID", "statusName"))">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>


</form>